[submodule "third_party/openfx"]
	path = third_party/openfx
	url = https://github.com/AcademySoftwareFoundation/openfx.git
	branch = main
[submodule "third_party/Catch2"]
	path = third_party/Catch2
	url = https://github.com/catchorg/Catch2.git
